<% ['success', 'error'].forEach(function(type) {
    (function(type, msg) {
        if (typeof msg !== undefined && msg && msg.length) {
            (function(type, msg) {
                msg.forEach(function() { %>
<div class="alert alert-<%= {success: 'success', error: 'danger'}[type] -%>
    alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= msg %>
</div>
                <% });
            })(type, Array.isArray(msg) ? msg : [msg])
        }
    })(type, flash(type));
}) %>