<% layout('/layout/page') -%>
<% block('title', 'Thinking in React tutorial'); -%>

<div id="thinkingReact"></div>
<a href='https://reactjs.org/docs/thinking-in-react.html'>https://reactjs.org/docs/thinking-in-react.html</a>
<script src="<%=resourceUrl%>thinkingInReact.js" type="text/javascript"></script>